.product-card {
  margin-top: 20%;
  margin-left: 1%;
  margin-bottom: 10%;
}
.user-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2%;
}

.user-info h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 18px;
  color: #666666;
  margin: 5px 0;
}

.homepage-message {
  text-align: center; /* Center align the text */
  margin-top: 10%; /* Add top margin for spacing */
}
.login-link {
  color: blue;
  text-decoration: underline;
}

.login-link:hover {
  color: darkblue;
}
@media (max-width: 768px) {
  .product-card {
    margin-left: 0;
  }
}
